<template name="NavMenu">
  	<nav class="navbar navbar-inverse navbar-fixed-top nav-fix" role="navigation">
		<div class="container-fix">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Meteor Groups Manager</a>
			</div>
			<div class="collapse navbar-collapse" id="navigationbar">
				<ul class="nav navbar-nav navbar-right">
					<li>{{#linkTo route="home"}}Home{{/linkTo}}</li>
					<li>{{#linkTo route="groupsList"}}Groups{{/linkTo}}</li>
					<li>{{#linkTo route="createGroup"}}Create New Group{{/linkTo}}</li>
				</ul>
			</div>
		</div>
	</nav>
</template>
